{% block page_content %}
<head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<style>
.submit_form {
    background-image: url("{{ url_for('static', filename='images/signup.jpg')}}");
    min-height: 900px;
    background-position: center;
    position: center;
}
</style>
</head>
<div class="w3-container w3-teal">
  <h1>Change Your Password</h1>
</div>
<div class="submit_form">
	<form  class = "container" action="/changepassword/{{user_to_update.id}}" METHOD="POST">
	<label>New Password:</label><br>
    <input type="text" name="password" value="{{user_to_update.password}}">
    <input type="submit" value = "Update it!" class="btn">
	</form>
</div>
<div class="w3-container w3-teal">
  <p>CSC210-Final-Project-Fall 2020 University of Rochester</p>
</div>
{% endblock %}